@import url(https://fonts.googleapis.com/css?family=Lato);

html {
  font-family: 'Lato', sans-serif;
}

body {
  background-image: url('/images/rally.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.fake--navigation {
  min-height: 4em;
  background-color: $light-grey;

  li {
    list-style-type: none;
  }

  .user-icon {
    img {
      margin-top: 0.3em;
      max-width: 3.5em;
    }
  }

  .user-name {
    margin: .5em;
    font-size: 2em;
    color: $red-mondo;
  }

  .my-pledges-link {
    background-color: $red-mondo;
    font-size: 2em;
    min-width: 6em;
    padding: 0.4em 0.5em 0.6em 0.5em;
    text-align: center;

    a {
      text-decoration: none;
      color: white;
    }

    &:hover {
      cursor: pointer;
      background-color: $deep-red;
    }
  }

  .total-forfeits {
    color: $cerulean;
    margin-top: 1.5em;
    margin-right: 1em;

    strong {
      font-weight: 800;
    }
  }
}

.splash--container {
  color: white;
  min-height: 12em;
  text-align: center;

  h1 {
    margin-top: 2em;
    font-size: 4em;
  }

  h2 {
    margin-top: 0.5em;
    font-size: 2em;
  }
}

.btn {
  font-size: 1.5em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: $cerulean;
  padding: 0.7em;
  border-radius: 10px;
  max-width: 5em;

  &:hover {
    cursor: pointer;
  }
}


.form {
  .pledge--body {
    padding: 1.5em;
    text-align: center;
    margin: auto;
    margin-top: -90px;
    color: white;
    font-size: 1.5em;
    width: 60%;
  }

  ::-webkit-input-placeholder {
   color: white;
  }

  input[type="text"] {
    border-width: 0 0 2px 0;
    border-color: white;
    background-color: $red-mondo;
    font-size: 1.2em;
    color: white;
    width: 3em;
    text-align: center;
    outline: none;

    &.language {
      width: 4em;
    }
  }

  .btn--container {
    .make-pledge {
      font-size: 1em;
      max-width: 7em;
      text-align: center;
    }

    input {
      visibility: hidden;
    }
  }
}

.toggle-hide {
  display: none;
}

//urgent, upcoming, away

.pledge-feed {
  padding-top: 4em;

  .pledge--container {
    width: 70%;
    margin: 0.5em auto;

    .pledge--duedate {
      color: white;
      display: block;
      float: left;
      text-align: center;
      line-height: 1.2em;
      padding: 0.5em;
      height: 4em;

      .due-in {
        margin-top: 10px;
        font-size: 0.5em;
      }

      .number {
        font-size: 1em;
        font-weight: 800;
      }

      &.status--urgent {
        background-color: $red-mondo;
      }

      &.status--upcoming {
        background-color: $mondo-beige;
      }

      &.status--away {
        background-color: $green-mondo;
      }
    }

    .pledge--content {
      display: block;
      float: left;
      padding: 2em;
      min-width: 44em;
      background-color: $light-grey;

      .username, .benefactor {
        font-weight: 800;
      }
    }

    .spacer {
      clear: both;
      display: block;
      height: 2em;
    }
  }

}
