// Fonts

$heading-font : "Gill Sans";
$body-font    : "";

// Colour Pallette

// black white grey

$black   : #222;
$white   : rgb(250,250,250);
$grey    : #E7E9EC;

// colours


$red-mondo   : #E64B5F;
$red-kuler   : #F06060;
$blue-mondo  : #8CBEB2;
$blue-green  : #8CBEB2;
$green-mondo : #9ABDA9;
$orange-kuler: #F3B562;
$mondo-beige : #EAD19F;

$red-cruz    : #EC1E43;
$blue-cruze  : #005B94;


