<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Super Pacts</h1>
    <h2>Make your coding great again</h2>
    <section role="form" class="form">
    <form action='/pact' method='POST'>
      I am going to learn
       <select>
        <option value="haskell">Haskell</option>
        <option value="ruby">Ruby</option>
        <option value="js">JS</option>
        <option value="clojure">Clojure</option>
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="csharp">C#</option>
        <option value="coffeescript">CoffeeScript</option>
      </select>
       or donate $ <input type="text" name="pledge-amount" placeholder="100" required> to <a href="https://www.tedcruz.org/l/conservatives-are-uniting-2/">TED CRUZ</a>.
      <span>Continue</span>

      <input type="text" name="codewars-username" placeholder="Enter your codewars username" required>
      <input type="number" name="target-points" placeholder="Enter your target points" required>
      <input type="text" name="twitter-username" placeholder="@yourmum" required>
      <button>Make the Pact</button>
    </form>
  </section>


  <section class='pledge-feed'>
    {{#each pledges}}
    <div>
      <p>{{codewars_username}} has pledged {{amount}} to {{benefactor}}</p>
    </div>
    {{/each}}
  </section>

  </body>
</html>
