<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class='fake--navigation'>
      <li class='left user-icon'>
        <img src='/images/ptolemy.png' />
      </li>
      <li class='left user-name'>
        ptolemybarnes
      </li>
      <li class='right my-pledges-link'>
        <a href='/home'>my pledges</a>
      </li>
    </nav>
    <section class='splash--container'>
      <h1 class='title'>super pacts</h1>
      <h2>make your coding great again</h2>
      <div class='btn get-started'>get started</div>
    </section>

    <section role="form" class="form toggle-hide">
    <form action='/makepledge' method='POST'>
      <div class='pledge--body'>
        <span>I will reach</span>
        <input type="text" name="target-points" placeholder="1000">
        <span>points in</span>
        <input type="text" class="target-language" name="target-language" placeholder="clojure">
       <span>or forfeit £</span>
       <input type="text" name="pledge-amount" placeholder="500">.
      <input type="hidden" name="codewars-username" value="ptolemybarnes">
      <input type="hidden" name="twitter-username" value="@guacamolay">
      <div class='btn--container'>
        <div class='btn make-pledge'>make a pledge</div>
        <input type="submit" id='form-submit' class='hide' value="Make A Pledge"></input>
      </div>
    </div>
    </form>
  </section>

  <section class="pledge-feed">
    {{#each pledges}}
    <div class='pledge--container'>
      <p><span class='username'>{{codewars_username}}</span>
        has pledged <span class='amt'>{{amount}}</span> to
        {{benefactor}} to be
        completed in
        <span class='due'>{{daysRemaining due_data}}</span>
      </p>
    </div>
    {{/each}}
  </section>
  <script src="/javascript/main.js"></script>

  </body>
</html>
