@import url(https://fonts.googleapis.com/css?family=Lato);
.left {
  float: left; }

.right {
  float: right; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Lato', sans-serif; }

body {
  background-image: url("/images/rally.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; }

.fake--navigation {
  min-height: 4em;
  background-color: #F8FDFF; }
  .fake--navigation li {
    list-style-type: none; }
  .fake--navigation .user-icon img {
    margin-top: 0.3em;
    max-width: 3.5em; }
  .fake--navigation .user-name {
    margin: .5em;
    font-size: 2em;
    color: #E64B5F; }
  .fake--navigation .my-pledges-link {
    background-color: #E64B5F;
    font-size: 2em;
    min-width: 6em;
    padding: 0.4em 0.5em 0.6em 0.5em;
    text-align: center; }
    .fake--navigation .my-pledges-link a {
      text-decoration: none;
      color: white; }
    .fake--navigation .my-pledges-link:hover {
      cursor: pointer;
      background-color: #C60020; }

.splash--container {
  color: white;
  min-height: 12em;
  text-align: center; }
  .splash--container h1 {
    margin-top: 2em;
    font-size: 4em; }
  .splash--container h2 {
    margin-top: 0.5em;
    font-size: 2em; }

.btn {
  font-size: 1.5em;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: #00A4DB;
  padding: 0.7em;
  border-radius: 10px;
  max-width: 5em; }
  .btn:hover {
    cursor: pointer; }

.form .pledge--body {
  padding: 1.5em;
  text-align: center;
  margin: auto;
  margin-top: -90px;
  color: white;
  font-size: 1.5em;
  width: 60%; }

.form ::-webkit-input-placeholder {
  color: white; }

.form input[type="text"] {
  border-width: 0 0 2px 0;
  border-color: white;
  background-color: #E64B5F;
  font-size: 1.2em;
  color: white;
  width: 3em;
  text-align: center;
  outline: none; }
  .form input[type="text"].language {
    width: 4em; }

.form .btn--container .make-pledge {
  font-size: 1em;
  max-width: 7em;
  text-align: center; }

.form .btn--container input {
  visibility: hidden; }

.toggle-hide {
  display: none; }

.pledge-feed {
  padding-top: 4em; }
  .pledge-feed .pledge--container {
    width: 70%;
    margin: 0.5em auto; }
    .pledge-feed .pledge--container .pledge--duedate {
      color: white;
      display: block;
      float: left;
      text-align: center;
      line-height: 1.2em;
      padding: 0.5em;
      height: 4em; }
      .pledge-feed .pledge--container .pledge--duedate .due-in {
        margin-top: 10px;
        font-size: 0.5em; }
      .pledge-feed .pledge--container .pledge--duedate .number {
        font-size: 1em;
        font-weight: 800; }
      .pledge-feed .pledge--container .pledge--duedate.status--urgent {
        background-color: #E64B5F; }
      .pledge-feed .pledge--container .pledge--duedate.status--upcoming {
        background-color: RGBA(255, 195, 0, 1); }
      .pledge-feed .pledge--container .pledge--duedate.status--away {
        background-color: RGBA(0, 131, 19, 1); }
    .pledge-feed .pledge--container .pledge--content {
      display: block;
      float: left;
      padding: 2em;
      min-width: 44em;
      background-color: #F8FDFF; }
      .pledge-feed .pledge--container .pledge--content .username, .pledge-feed .pledge--container .pledge--content .benefactor {
        font-weight: 800; }
    .pledge-feed .pledge--container .spacer {
      clear: both;
      display: block;
      height: 2em; }
